* {
  box-sizing: border-box;
}

.mainPage{
  margin-bottom: 0;
  font: 100px;
  font-family: Rockwell;
  font: bold;
  color: black;
  text-align: center;
  padding-top: 50px;
}

.homeh1{
  margin-bottom: 0;
  font-family: Rockwell;
  color: black;
  text-align: center;
  padding-top: 50px;
}

h1{
  margin-bottom: 0;
  font: 100px;
  font-family: Rockwell;
  font: bold;
  color: red;
  text-align: center;
  padding-top: 50px;
}

h2{
  margin-bottom: 0;
  font: 20px "American Typewriter";
  color: black;
  text-align: center;
}


.button {
  background-color: #ffff7d;
  border: none;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.regbutton {
  background-color: lightgrey;
  border: none;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.alignbutton{
  text-align: center;
}

img.roomiez{
  width: 200px;
  height: 50px;
  text-align: left;
  vertical-align: middle;
}

.facebook, .twitter, .insta{
  width: 70px;
  height: 50px;
  text-align: right;
  float: right;
  padding-left: 20px;
  vertical-align: middle;
}

.chatlogo{
  width: 600px;
  height: 120px;
  text-align: left;
  padding-left: 50px;
  vertical-align: middle;
  margin-left: 10px;
}

.searchbuttons{
  width: 300px;
  height: 250px;
  text-align: left;
  padding-left: 50px;
  padding-top: 90px;
  vertical-align: middle;
  margin-left: 10px;
}

.searchbuttons1{
  width: 300px;
  height: 290px;
  text-align: left;
  padding-left: 50px;
  padding-top: 100px;
  vertical-align: middle;
  margin-left: 10px;
}

.header{
  width: 100%;
  height: 50px;
  display: block;
  background: white;
  color: black;
}



.links{
  float: right;
}


a:link {
  text-decoration: none;
  color: darkblue;

}

a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: underline;
  color: lightseagreen;
}

a:active {
  text-decoration: underline;
}


.mainpagecontainer {
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: auto;
  background-image: url("/Images/images/backgroundhome.png");
  background-size: cover;
}

.registrationcontainer {
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: auto;
  padding-top: 10px;
  text-align: center;

}

.loginbox{
  text-align: center;
  width:280px;
  position:absolute;
  font-size:20px;
  top:35%;
  left:40%;
  color:#5e97d4;
}

.logintext{
  text-align: center;
  width:100%;
  overflow:hidden;
  font-size:20px;
  padding:8px 0;
  margin:8px 0;
  border-bottom: 1px solid #5e97d4;
}
.logintext i{
  width:26px;
  float:left;
  text-align:center;
}
.logintext input{
  border:none;
  outline: none;
  background: none;
  color: #5e97d4;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 10px;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.logininfo{
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;

}


.formtextbox{
  border: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font: "American Typewriter";
  font-size: large;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
  color: white;
}

.active {
  background-color: saddlebrown;
  color: white;
}

.locationinline{
  display: inline-block;
}

.q-column{
  float: left;
  width: 50%;
  padding: 10px;
  text-align: left;
}



.searchbar button {
  padding: 8px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.searchbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font: "American Typewriter";
  font-size: 17px;
  border-color: lightgrey;
}

.searchbar button:hover {
  background: #ccc;
}



.user_form {
  width:100%;
  height:100%;
  background: #EEE;
  padding:15px;
  margin-bottom: 10px;
  border: #CCC solid 1px;
  text-align: center;
  -moz-border-radius: 15px;
}

.user_form form {
  /* center all the inputs in a form */
  text-align: center;

  /* how to center the whole form*/
  width:100%;
  height:100%;
  margin: 0 auto;
  background: #ffe;
}

.user_form span {
  /* reset text-alignment in the inputs */
  text-align: left;
}


.wallpost:nth-child(even){
  font-family: "American Typewriter";
  display: inline-block;
  border-radius: 25px;
  border: 2px solid black;
  width:100%;
  height:100%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: #EEEEEE;
}

.wallpost:nth-child(odd){
  font-family: "American Typewriter";
  display: inline-block;
  border-radius: 25px;
  border: 2px solid black;
  width:100%;
  height:100%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: #CCCCCC;
}


